---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Commercial from '../components/Commercial.astro';
import Promo from '../components/Promo.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import ContactForm from '../components/ContactForm.astro';
import GoogleReviews from '../components/GoogleReviews.astro';
import VideoTestimonials from '../components/VideoTestimonials.astro';
import Gallery from '../components/Gallery.astro';
import ServiceAreas from '../components/ServiceAreas.astro';
import CareersCTA from '../components/CareersCTA.astro';
import Footer from '../components/Footer.astro';
import FloatingCallButton from '../components/FloatingCallButton.astro';
---

<Layout title="Clean Cut Painting & Handyman | Professional Services in Decatur & Springfield IL">
  <Header />

  <main>
    <Hero />
    <About />
    <Services />
    <Commercial />
    <Promo />
    <WhyChooseUs />
    <ContactForm />
    <GoogleReviews />
    <Gallery />
    <VideoTestimonials />
    <ServiceAreas />
    <CareersCTA />
  </main>

  <Footer />
  <FloatingCallButton />
</Layout>
